<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Student Registration Portal</span>
  <span class="example-spacer"></span>
  <nav>
    <a routerLink="student" class="btn btn-primary active" role="button" routerLinkActive="active">Students</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
    <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
  </nav>
</mat-toolbar>

